<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.name = "a";
      this.state = {
        sum: 0
      };
      console.log(this, "Constructor");
    }
    fn = () => {
      let n1 = this.refs.n1.value;
      let n2 = this.refs.n2.value;
      let totalSum = Number(n1) + Number(n2);
      this.setState({
        sum: totalSum
      });
    };
    render() {
      debugger;
      console.log(this, "render");
      return (
        <div>
          <p>
            <b>N1:</b>
            <input ref="n1" />
          </p>
          <p>
            <b>N2:</b>
            <input ref="n2" />
          </p>
          <p>
            <button onClick={this.fn}>Add</button>
          </p>
          <h1>Sum:{this.state.sum} </h1>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
