<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<style>
  #box {
    border: 1px solid red;
    width: 90px;
    display: inline-block;
    height: 100px;
  }
</style>
<div id="container"></div>
<script type="text/babel">
  class Box extends React.Component {
    render() {
      console.log(this, "box");
      return <div id="box">{this.props.n}</div>;
    }
  }
  class App extends React.Component {
    render() {
      const data = [1, 2, 3, 4, 5, 6, 7, 8, 9];
      return (
        <div>
          <div>
            <Box n="1" />
            <Box n="2" />
            <Box n="3" />
          </div>
          <div>
            <Box />
            <Box />
            <Box />
          </div>
          <div>
            <Box />
            <Box />
            <Box />
          </div>
          {/*data.map((v, i) => {
            return <Box n={v} />;
          })*/}
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("container"));
</script>
