<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<style>
  #box {
    border: 1px solid red;
    width: 90px;
    display: inline-block;
    height: 100px;
  }
</style>
<div id="container"></div>
<script type="text/babel">
  const Box = ({n, name}) => {
    console.log(this);
    return (
      <div id="box">
        {n}
        {name}
      </div>
    );
  };
  const App = () => {
    return (
      <div>
        <div>
          <Box n="1" name="Sachin" />
          <Box n="2" />
          <Box n="3" />
        </div>
        <div>
          <Box />
          <Box />
          <Box />
        </div>
        <div>
          <Box />
          <Box />
          <Box />
        </div>
      </div>
    );
  };
  ReactDOM.render(<App />, document.getElementById("container"));
</script>
