<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
