<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
  const App = () => {
    const [name, setName] = React.useState("Sachin");
    const handleName = () => {
      setName("Dhoni");
    };

    const handleName1 = () => {
      setName("Dhoni");
    };

    return (
      <h1>
        {alert("app called")}
        I'm App
        <Child name={name} />
        <button onClick={handleName}>ChangeName</button>
        <button onClick={handleName1}>ChangeName1</button>
        <h1>{name}</h1>
      </h1>
    );
  };

  const Child = React.memo(({name}) => {
    return (
      <h1>
        {alert("Child comp called")}
        I'm Child Component
        {name}
      </h1>
    );
  });

  //   export default React.memo(Child)

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
