<link href="./selector.css" rel="styleSheet" />
<h1>Welcome to my first Website</h1>

<h6>React is js library and Angular is a js framework</h6>

<p class="cb">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap into
  electronic typesetting, remaining essentially unchanged. It was popularised in
  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker
  including versions of Lorem Ipsum.
</p>

<div id="myFirstDiv">Hyderabad belongs to Telangana state</div>
<span id="myFirstSpan">Venilla Javascript</span>

<p class="cb">
  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker
  including versions of Lorem Ipsum.
</p>

<div class="cb">
  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker
  including versions of Lorem Ipsum.
</div>

<span name="date">12/10/1996 </span>

<div>
  <span>Hyderabad </span>
  <b>
    <span> .....Ameerpet </span>
  </b>
</div>

<div>
  <span
    >the 1960s with the release of Letraset sheets containing Lorem Ipsum
    passages,</span
  >
</div>
