<!-- inline, internal and external  -->
<link href="./1.css" rel="stylesheet" />

<h1 style="color: green">This is my first app</h1>
<h2 style="color: green">Hyderabad</h2>
<h3 style="color: green">Mumbai</h3>
<div style="color: green">US</div>

<h1>This is my first app</h1>
<hr />
<h2>Hyderabad</h2>
